// Colores base
$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base: #000000;

// Colores primarios
$primary: #0277bd;
$primary-dark: #004c8c;
$primary-light: #58a5f0;
$on-primary: #ffffff;

// Colores segundarios
$secondary: #f44336;
$secondary-dark: #ba0007;
$secondary-light: #ff795d;
$on-secondary: #ffffff;

// Mensaje error
$error: #B00020;
$on-error: #ffffff;

// Colores de exito
$sucess: #99aa00;
$on-sucess: #ffffff;