<div class="form-field" [class.form-field_error]="hasError()" [class.form-field_inline]="isInline">
  <label for="" class="form-field__label">
    {{ label }}
    <span class="form-field__req" *ngIf="required">*</span>
  </label>
  <div class="form-field__control">
    <ng-content></ng-content>

    <div class="form-field__error">
      <ng-container *ngIf="control && errorKey" [ngSwitch]="errorKey">
        <span *ngSwitchCase="'min'">Minimo {{control.errors ? control.errors[errorKey].min : 0}}</span>
        <span *ngSwitchCase="'max'">Maximo {{control.errors ? control.errors[errorKey].max : 1000000 }}</span>
        <span *ngSwitchCase="'required'">Este campo es requerido</span>
        <span *ngSwitchCase="'requiredtrue'">Este campo es requerido</span>
        <span *ngSwitchCase="'minlength'">Cantidad de caracteres minimo {{control.errors ? control.errors[errorKey].requiredLength : 0}}</span>
        <span *ngSwitchCase="'maxlentgth'">Cantidad de caracteres maxima {{control.errors ? control.errors[errorKey].requiredLength : 0}}</span>
        <span *ngSwitchCase="'pattern'">
          <span *ngIf="patternError">{{ patternError }}</span>
          <span *ngIf="patternError">La expresion regular no tiene coincidencia</span>
        </span>
      </ng-container>
    </div>
  </div>
</div>